body, header, nav, main, article, aside, footer, h3, h4, p, img, a, ul {
  margin: 0;
  padding: 0;
}
body {
  background: #f5f5dd;
}
div {
  width: 960px;
  margin: 0 auto;
}
header {
  background: #fff;
  position: fixed;
  width: 100%;
  min-width: 960px;
  padding-top: 10px;
  border-bottom: 1px solid #ccc;
  z-index: 10;
}
.header-text {
  color: #664433;
}
form {
  float: right;
}
input {
  height: 25px;
}
#serach {
  width: 200px;
}
header ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
header a {
  text-decoration: none;
  color: #4e3427;
  width: 192px;
  padding: 5px;
}
header li {
  border-right: 1px solid #ccc;
}
.border-0 {
  border: 0;
}
.main-view {
  width: 100%;
  margin: 113px 0 15px;
}
nav {
  float: left;
  width: 193px;
}
section,
article {
  background: #fff;
}
h3 {
  position: relative;
  display: inline-block;
  padding: 5px 35px;
  border-radius: 25px;
  margin: 10px 5px;
  background: #9b2;
  color: #fff;
}
h3::before {
  content: '';
  position: absolute;
  top: 7px;
  left: 12px;
  display: inline-block;
  width: 2em;
  height: 2em;
  background-image: url(images/icon/dish.png);
  background-repeat: no-repeat;
}
section ul {
  list-style: inside;
  list-style-image: url(images/icon/arrow.png);
}
section a {
  padding: 0;
  text-decoration: none;
}
section li {
  border-bottom: 1px dashed #ccc;
  width: 173px;
  margin: 5px;
  padding: 5px;
  color: #000;
}
section .border-0 {
  padding-bottom: 10px;
  margin-bottom: 15px;
}
main {
  width: 590px;
  float: left;
  margin: 0 10px 20px;
}
article {
  background: #fff;
  margin-bottom: 20px;
}
article h3 {
  width: 510px;
}
.new-recipes {
  display: flex;
  width: 93%;
  justify-content: space-between;
}
.new-re-text {
  display: flex;
  width: 95%;
  justify-content: space-between;
}
span {
  text-align: center;
  font-size: 10px;
  width: 90px;
  padding-bottom: 20px;
}
.article-2{
  float: left;
}
.topics {
  padding: 10px 0 0 20px;
  float: left;
}
.topics-text {
  float: left;
  padding: 10px 20px 20px;
  width: 300px;
}
.topics-text p {
  padding-bottom: 16px;
}
article a {
  float: right;
  color: #fc8833;
  position: relative;
  text-align: right;
  text-decoration: none;
}
article a::before {
  content: '';
  position: absolute;
  top: 5px;
  left: -18px;
  display: inline-block;
  width: 2em;
  height: 2em;
  background-image: url(images/icon/arrow.png);
  background-repeat: no-repeat;
}
.article-3 {
  float: left;
}
.push-re {
  padding: 10px 0 0 20px;
  float: left;
}
h4 {
  padding-bottom: 10px;
  color: #643;
}
.push-re-text {
  float: left;
  width: 300px;
  padding: 10px 20px 0;
}
.push-re-text p {
  padding-bottom: 16px;
}
.pb-30 {
  padding-bottom: 30px;
}
aside {
  float: left;
  width: 157px;
}
aside img {
  margin-bottom: 20px;
}
footer {
  clear: both;
  background: #fff;
  width: 100%;
  min-width: 960px;
  padding-top: 10px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc; 
}
footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
footer a {
  text-decoration: none;
  color: #4e3427;
}
footer li {
  border-right: 1px solid #ccc;
  padding: 0 20px;
  margin: 10px 0;
}
footer p {
  opacity: 0.5;
  text-align: center;
  margin: 5px auto 30px;
}
