body {
  header {
    height: 100px;
    h1 {
      a {
        img {
          height: 100px;
        }
      }
    }
    .menu-command {
      margin-top: 60px;
      margin-right: 30px;
    }
  }
  main {
    margin-top: 100px;
    .wave-contaner {
      margin-top: 300px;
    }
    #about {
      padding-top: 150px;
      .about-message {
        .self-intro {
          text-align: center;
          img {
            float: none;
            width: 40%;
            margin-top: 50px;
            padding-left: 0;
          }
          dl {
            font-size: 2vw;
            dt {
              margin-left: 10%;
            }
            dd {
              margin-left: 40%;
              text-align: left;
            }
          }
        }
        .career {
          width: 80%;
          font-size: 2vw;
          padding-left: 0;
          margin: 0 auto;
          li {
            padding-bottom: 20px;
          }
        }
      }
    }

    #services {
      .services-message {
        .services-list {
          flex-wrap: wrap;
          .service {
            width: 50%;
            h3 {
              font-size: 2.5vw;
            }
            p {
              font-size: 1.5vw;
            }
          }
        }
      }
    }

    #works {
      .works-message {
        padding-bottom: 50px;
        .works-list {
          flex-wrap: wrap;
          .work {
            width: 40%;
          }
        }
      }
    }

    #works-detail {
      .works-mes {
        display: block;
        .works-img {
          float: none;
          padding-left: 0;
          width: 100%;
          padding-bottom: 0;
          .site-img1 {
            display: none;
          }
          .site-img2 {
            display: block;
            margin: 0 auto;
            width: 50%;
          }
        }
        .works-text {
          width: 70%;
          padding: 50px 0 0;
          margin: 0 auto;
          h3 {
            font-size: 2.5vw;
            padding-bottom: 20px;
          }
          h4 {
            font-size: 2vw;
            .site-url {
              font-size: 1.5vw;
            }
          }
          dl {
            font-size: 1.5vw;
          }
          ul {
            font-size: 1.5vw;
          }
          .others {
            margin-top: 0;
            font-size: 1.5vw;
          }
        }
      }
    }
  }
  footer {
    small {
      padding-right: 50px;
    }
  }
}
